[color]
	ui = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	fp = fetch -p
	br = branch
	co = checkout
	ss = status
	cm = commit -m
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	ps = push
	pl = pull
	st = stash
	cp = cherry-pick
    delete-merged = !git branch --merged | egrep -v '\\*|main|master|develop' | xargs git branch -d
[pull]
	rebase = false
[core]
	whitespace = cr-at-eol
	quotepath = false
	precomposeunicode = true
[init]
	defaultBranch = main
[log]
	follow = true
